@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montaga', serif;
font-family: 'Poppins', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #F5F5F5;
  --color-primary: #AF9FFF;
  --color-secondary: #1B1B1B;
  --color-accent: #FFC857;
  --color-light: #4D4D4D;

  --container-padding-x: 5vw;

  --fs-1: 55px;
  --fs-2: 47px;
  --fs-3: 26px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 16px;
}

::-webkit-scrollbar {
  width: .6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1b1be1;
  opacity: 0.5;
  border-radius: .5rem;
  transition: all 100ms linear;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1b1b1bc9;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #F5F5F5;
    --color-primary: #AF9FFF;
    --color-secondary: #1B1B1B;
    --color-accent: #FFC857;
    --color-light: #4D4D4D;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--fs-5);
  color: var(--color-secondary);
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-primary);
  background: var(--color-secondary);
}

::selection {
  color: var(--color-primary);
  background: var(--color-secondary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montaga', serif;
}

h1 {
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}


/* Small Laptops and Desktops */
@media (max-width: 1279px) {
  :root {
    --fs-1: 50px;
    --fs-2: 45px;
    --fs-3: 28px;
    --fs-4: 18px;
    --fs-5: 16px;
    --fs-6: 14px;
  }
}

/* Tablets */
@media (max-width: 1023px) {
  :root {
    --fs-1: 45px;
    --fs-2: 40px;
    --fs-3: 26px;
    --fs-4: 18px;
    --fs-5: 16px;
    --fs-6: 14px;
  }

}

/* Mobile Phones */
@media (max-width: 767px) {
  :root {
    --fs-1: 30px;
    --fs-2: 27px;
    --fs-3: 21px;
    --fs-4: 16px;
    --fs-5: 14px;
    --fs-6: 12px;
  }

}